<h3>Estadisticas</h3>
<p>Número de preguntas: <%= stats['Total preguntas'] %></p>
<p>Número de comentarios totales: <%= stats['Total comentarios'] %></p>
<p>Número medio de comentarios por pregunta: <%= stats['Media comentarios pregunta'] %></p>
<p>Número de preguntas sin comentarios: <%= stats['Preguntas sin comentarios'] %></p>
<p>Número de preguntas con comentarios: <%= stats['Preguntas con comentarios'] %></p>